<div
  class="character-sheet-container m-5 p-5 border rounded bg-white flex justify-around"
>
  <div class="inline-block">
    <div class="mb-5">
      <character-sheet-characteristics></character-sheet-characteristics>
    </div>
    <div class="mb-5">
      <character-sheet-basic-info></character-sheet-basic-info>
    </div>
    <div class="mb-5">
      <character-sheet-combat-styles-info></character-sheet-combat-styles-info>
    </div>
    <div class="mb-5">
      <character-sheet-attributes></character-sheet-attributes>
    </div>
    <div>
      <character-sheet-additional-info></character-sheet-additional-info>
    </div>
  </div>
  <div class="inline-block">
    <div class="mb-5">
      <character-sheet-additional-info></character-sheet-additional-info>
    </div>
    <div class="mb-5">
      <character-sheet-attributes></character-sheet-attributes>
    </div>
    <div class="mb-5">
      <character-sheet-combat-styles-info></character-sheet-combat-styles-info>
    </div>
    <div class="mb-5">
      <character-sheet-basic-info></character-sheet-basic-info>
    </div>
    <div>
      <character-sheet-characteristics></character-sheet-characteristics>
    </div>
  </div>
  <div class="inline-block">
    <div class="mb-5">
      <character-sheet-attributes></character-sheet-attributes>
    </div>
    <div class="mb-5">
      <character-sheet-characteristics></character-sheet-characteristics>
    </div>
    <div class="mb-5">
      <character-sheet-basic-info></character-sheet-basic-info>
    </div>
    <div class="mb-5">
      <character-sheet-combat-styles-info></character-sheet-combat-styles-info>
    </div>
    <div>
      <character-sheet-additional-info></character-sheet-additional-info>
    </div>
  </div>
</div>
