<div class="mat-elevation-z8 mt-7 p-5 bg-amber-200">
  <div>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Edad</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Máximo aumento de habilidades</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Tiradas transfondo</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Resultado 4d6</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Dinero inicial</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Gastos por compras</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</div>
