<div class="mat-elevation-z8 p-5 bg-amber-100">
    <div>
      <mat-form-field >
        <mat-label>Nombre estilo de combate cultural</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nombre estilo de combate profesional</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nombre estilo de combate adicional</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Nombre estilo de combate adicional 2</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </div>