<div class="mat-elevation-z8 p-5 bg-slate-200">
  <div>
    <mat-form-field>
      <mat-label>Complexión</mat-label>
      <mat-select>
        <mat-option *ngFor="let complexion of complexiones" [value]="complexiones">
          {{ complexion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Cultura</mat-label>
      <mat-select>
        <mat-option *ngFor="let cultura of culturas" [value]="culturas">
          {{ cultura }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Profesión</mat-label>
      <mat-select>
        <mat-option *ngFor="let profesion of profesiones" [value]="profesiones">
          {{ profesion }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Clase social</mat-label>
      <mat-select>
        <mat-option *ngFor="let clase_social of clases_sociales" [value]="clases_sociales">
          {{ clase_social }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
