<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 min-w-0">
  <!-- Attribute Column -->
  <ng-container matColumnDef="attribute">
    <th class="bg-amber-200" mat-header-cell *matHeaderCellDef>Características</th>
    <td class="bg-amber-200" mat-cell *matCellDef="let attribute">{{ attribute.name }}</td>
  </ng-container>

  <!-- Initial Column -->
  <ng-container matColumnDef="initial">
    <th class="bg-amber-100 text-center"  mat-header-cell *matHeaderCellDef>Inicial</th>
    <td class="bg-amber-100 text-center" mat-cell *matCellDef="let attribute">{{ attribute.value.initial }}</td>
  </ng-container>

  <!-- Current Column -->
  <ng-container matColumnDef="current">
    <th class="bg-amber-200 text-center" mat-header-cell *matHeaderCellDef>Actual</th>
    <td class="bg-amber-200 text-center" mat-cell *matCellDef="let attribute">{{ attribute.value.current }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
