<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 min-w-0 ">
    <!-- Attributes Column -->
    <ng-container matColumnDef="attribute">
      <th class="bg-blue-200" mat-header-cell *matHeaderCellDef>Atributos</th>
      <td class="bg-sky-100" mat-cell *matCellDef="let attribute">{{ attribute.name }}</td>
    </ng-container>
  
    <!-- Initial Column -->
    <ng-container matColumnDef="initial">
      <th class="bg-blue-200 text-center"  mat-header-cell *matHeaderCellDef>Inicial</th>
      <td class="text-center" mat-cell *matCellDef="let attribute">{{ attribute.value.initial }}</td>
    </ng-container>
  
    <!-- Current Column -->
    <ng-container matColumnDef="current">
      <th class="bg-blue-200 text-center" mat-header-cell *matHeaderCellDef>Actual</th>
      <td class="text-center" mat-cell *matCellDef="let attribute">{{ attribute.value.current }}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  