<table mat-table [dataSource]="abilities" class="inline-block mat-elevation-z8 ">
  <ng-container matColumnDef="nombre">
    <th class="bg-amber-200" mat-header-cell *matHeaderCellDef>Habilidad</th>
    <td class="bg-amber-200" mat-cell *matCellDef="let ability">
      {{ ability.nombre }}
    </td>
  </ng-container>

  <ng-container matColumnDef="base">
    <th class="bg-amber-100 text-center" mat-header-cell *matHeaderCellDef>
      Base
    </th>
    <td class="bg-amber-100 text-center" mat-cell *matCellDef="let ability">
      {{
        ability.caracteristica1.value.current +
          ability.caracteristica2.value.current
      }}
    </td>
  </ng-container>

  <ng-container matColumnDef="culture">
    <th class="bg-amber-200 text-center" mat-header-cell *matHeaderCellDef>
      Por cultura
    </th>
    <td
      class="bg-amber-200 text-center"
      mat-cell
      *matCellDef="let ability"
    ></td>
  </ng-container>

  <ng-container matColumnDef="puntosCultura">
    <th class="bg-amber-200" mat-header-cell *matHeaderCellDef>P. cultura</th>
    <td class="bg-amber-200" mat-cell *matCellDef="let ability">
      {{ ability.puntosCultura ?? "" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="profession">
    <th class="bg-amber-200 text-center" mat-header-cell *matHeaderCellDef>
      Por profesión
    </th>
    <td
      class="bg-amber-200 text-center"
      mat-cell
      *matCellDef="let ability"
    ></td>
  </ng-container>

  <ng-container matColumnDef="puntosProfesion">
    <th class="bg-amber-200" mat-header-cell *matHeaderCellDef>P. profesión</th>
    <td class="bg-amber-200" mat-cell *matCellDef="let ability">
      {{ ability.puntosProfesion ?? "" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="puntosEdad">
    <th class="bg-amber-100 text-center" mat-header-cell *matHeaderCellDef>
      P. edad
    </th>
    <td class="bg-amber-100 text-center" mat-cell *matCellDef="let ability">
      {{ ability.puntosEdad }}
    </td>
  </ng-container>

  <ng-container matColumnDef="puntosExp">
    <th class="bg-amber-200 text-center" mat-header-cell *matHeaderCellDef>
      Tiradas exp.
    </th>
    <td class="bg-amber-200 text-center" mat-cell *matCellDef="let ability">
      {{ ability.puntosExp }}
    </td>
  </ng-container>

  <ng-container matColumnDef="puntosPifia">
    <th class="bg-amber-200" mat-header-cell *matHeaderCellDef>Pifias</th>
    <td class="bg-amber-200" mat-cell *matCellDef="let ability">
      {{ ability.puntosPifia }}
    </td>
  </ng-container>

  <ng-container matColumnDef="puntosEntrenamiento">
    <th class="bg-amber-100 text-center" mat-header-cell *matHeaderCellDef>
      Entrenamiento
    </th>
    <td class="bg-amber-100 text-center" mat-cell *matCellDef="let ability">
      {{ ability.puntosEntrenamiento }}
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th class="bg-amber-200 text-center" mat-header-cell *matHeaderCellDef>
      Final
    </th>
    <td class="bg-amber-200 text-center" mat-cell *matCellDef="let ability">
      {{ getTotal(ability) }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
